
.headword{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: bold;
}
.ipa{
  padding-left: 16px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: bold;
}
.type{
  font-style: italic;
}
.sound{
  padding-left: 16px;
}

.Title{
  font-weight: bold;

}
.Content{
  padding-top: 5px;
  text-transform: capitalize;
  padding-bottom: 10px;
}
